[Unit]
Description=Lazerwiki Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=lazerwiki
WorkingDirectory=/opt/lazerwiki
ExecStart=/opt/lazerwiki/lazerwiki.sh
Environment=LW_WEBSERVER_PORT=80
UMask=002

[Install]
WantedBy=multi-user.target
